#video_controller {
}

#video_wrapper {
    margin:0 auto;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

div.container {
    margin-top:20px;
    z-index:-1;
}

#viewpoint_trajectory {
    position: absolute;
    top: 185px;    
}